:root {
  font-family: "Roboto", sans-serif;
  border-bo
}

/* * {
  box-sizing: border-box;
} */

html,
body {
  /* padding: 140px; */
  box-sizing: border-box;
  font-size: 1.2rem;
  color: gray;
  margin: 0;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  color: rgb(255, 153, 0);
  text-decoration: none;
  /* transition: all 0.1s; */
}

a:hover {
  color: rgb(255, 210, 143);
}

h1 {
  color: rgb(51, 51, 51);
  padding: 12px;
}

/* p {
  color: white;
  opacity: 1;
} */

.button {
  background: rgb(65, 65, 65);
  padding: 18px;
  margin-right: 12px;
  margin-bottom: 40px;
  border-radius: 4px;
  float: left;
  transition: all 0.2s;
}

.button:hover {
  background: rgb(128, 128, 128);
}

.bg-1 {
  background: url("./images/beach-1.jpg") no-repeat center center;
  background-size: cover;
  padding: 20px;
}

.bg-2 {
  background: url("./images/beach-2.jpg") no-repeat center center;
  background-size: cover;
  padding: 20px;
}

.bg-3 {
  background: url("./images/beach-3.jpg") no-repeat center center;
  background-size: cover;
  padding: 20px;
}

.padding-body {
  padding: 40px 100px;
}

.p-bg-card {
  padding: 100px;
  /* margin: 10px; */
}

.p-bg-color {
  background: rgba(32, 32, 32, 0.7);
  /* opacity: 0.7; DO NOT USE OPACITY FOR THIS but RGBA!*/
  border-radius: 8px;
  padding: 40px;
}


/************************************
* Slide in on Scroll
*************************************/


.align-left {
  float: left;
  margin-right: 20px;
}

.align-right {
  float: right;
  margin-left: 20px;
}

.slide-in {
  opacity: 1;
  transition: all .5s;
}

.align-left.slide-in {
  transform: translateX(-30%) scale(0.95);
}

.align-right.slide-in {
  transform: translateX(30%) scale(0.95);
}

.slide-in.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
}
