:root {
  font-family: "Roboto", sans-serif;
}

body {
  padding: 140px;
  font-size: 1.4rem;
  color: white;
}

a {
  text-decoration: none;
}

.button {
  background: white;
  padding: 18px;
  margin-right: 12px;
  margin-bottom: 40px;
  border-radius: 4px;
  float: left;
  transition: all 0.2s;
}

.button:hover {
  background: rgb(175, 175, 175);
}
